<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to Songs API Preview!</h1>
    <p>In this page you can test API in Postman using these endpoints:</p>
    <h3>GET</h3>
    <ul>
      <li>GET songs: <strong>/songs</strong></li>
      <li>GET song by id: <strong>/song/:id</strong></li>
      <li>GET songs by album: <strong>/songs/:album/album</strong></li>
    </ul>
    <h3>POST</h3>
    <ul>
      <li>POST song with key "title" and "album": <strong>/songs</strong></li>
      <p>Available try at address bar:</p>
      <li>
        POST song with params "title" and "album":
        <strong>/song/:title/:album</strong>
      </li>
    </ul>
    <h3>UPDATE</h3>
    <ul>
      <li>UPDATE song by id: <strong>/song/:id</strong></li>
      <p>Available try at address bar:</p>
      <li>
        UPDATE song by id, title, album:
        <strong>/song/:id/:title/:album</strong>
      </li>
    </ul>
    <h3>DELETE</h3>
    <ul>
      <li>DELETE song by id: <strong>/song/:id</strong></li>
    </ul>

    <br />
    <p>This API will send you feedback in JSON format</p>
    <br />
    <br />
  </body>
</html>
