<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to Songs API Preview!</h1>
    <p>In this page you can test API in Postman using these endpoints:
      <ul>
        <li>GET songs: <strong>/songs</strong></li>
        <li>POST song with key "title" and "album": <strong>/songs</strong></li>
        <li>UPDATE song by id: <strong>/song/:id</strong></li>
        <li>DELETE song by id: <strong>/song/:id</strong></li>
      </ul>
    </p>
    <p>In case you prefer test it in address bar, use these endpoints:
      <ul>
        <li>POST song with params "title" and "album": <strong>/song/:title/:album</strong></li>
        <li>UPDATE song by id, title, album: <strong>/song/:id/:title/:album</strong></li>
      </ul>
    </p>
    <p>This API will send you feedback in JSON format</p>
    <br>
    <h3>PORT: 5000</h3>
  </body>
</html>
